<div class="heading">
			<div class="vertical">
			<h1>My Bio<h1>
			<p1>I was born in Dallas, Texas on September 9<sup>th</sup>, 1988. I have lived in Atlanta since 1994 and attended graduate school in Albany, New York from 2011 to 2013. Please see the <a href="academics" style"color:#bdc3c7">Academic</a> and <a href="cv" style"color:#bdc3c7">CV</a> page for more information about my academic and work experience.</p1>
		</div>
	</div>