<!DOCTYPE html>
<html lang="en">
<head>
<link href="css/smoothness/jquery-ui-1.9.0.custom.css" rel="stylesheet">
<script language="javascript" type="text/javascript" src="jquery-1.8.2.js"></script>
<script src="js/jquery-ui-1.9.0.custom.js"></script>
</head>
<body>
<div class="panel panel-primary">
<div class="center">
<div class="panel-body">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <a href="https://drive.google.com/file/d/0BysrLp9ss158N0otNkxTN0FIa0U" target="_blank" type="button" class="btn btn-primary btn-lg btn-success">View</a>
                  </div>
                  <div class="btn-group" role="group">
                    <a href="https://drive.google.com/uc?export=download&id=0BysrLp9ss158N0otNkxTN0FIa0U" type="button" class="btn btn-primary btn-lg btn-success">Download</a>
                  </div>
</div>
</div>
</div>
</div>
</body>
</html>